table.table-striped.table-highlight.responsive-table.centered
  thead
    tr
      th Piloto
      th Tempo total
      - if @title=='Resultado'        
        th Total de voltas
        th Melhor volta
      
      - if @title=='Voltas' 
        th Volta #
        th Tempo da volta
      
      th Velocidade média
      th

  tbody
    - @laps.each do |lap|
      tr
        td = link_to lap[:pilot].name, pilot_path(lap[:pilot].id)
        td = lap[:lap_total]
        td = lap[:lap_count]
        td = raw lap[:best_lap] 
        td = lap[:avg_speed].round(3).to_s + ' km/h'

        