p#notice = notice

p
  strong Pilot:
  = @lap.pilot
p
  strong Lap occurrence:
  = @lap.lap_occurrence
p
  strong Lap number:
  = @lap.lap_number
p
  strong Lap time:
  = @lap.lap_time
p
  strong Avg speed:
  = @lap.avg_speed

=> link_to 'Edit', edit_lap_path(@lap)
'|
=< link_to 'Back', laps_path
