= form_for @pilot do |f|
  - if @pilot.errors.any?
    #error_explanation
      h2 = "#{pluralize(@pilot.errors.count, "error")} prohibited this pilot from being saved:"
      ul
        - @pilot.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :number
    = f.text_field :number
  .field
    = f.label :name
    = f.text_field :name
  .actions = f.submit
