h4 Lista de pilotos

table
  thead
    tr
      th Numero
      th Nome
      th Voltas
      th
      th

  tbody
    - @pilots.each do |pilot|
      tr
        td = pilot.number
        td = pilot.name
        td = link_to 'Ver', laps_path(pilot_id: pilot.id)
        td = link_to 'Editar', edit_pilot_path(pilot)

br

= link_to 'Novo Piloto', new_pilot_path, class: 'btn'
