nav
  .nav-wrapper.blue.darken-2
    a.brand-logo href="#"  Gympass Test
    ul#nav-mobile.right.hide-on-med-and-down      
      li
        = link_to "Pilotos", pilots_path
      li
        = link_to "Voltas", laps_path
      li
        = link_to "Resultado", laps_path(type:'result')

  