<!DOCTYPE html>
<html>
  <head>
    <title>Gympass Test</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
      $(document).ready(function() {$('.dropdown-trigger').dropdown({constrainWidth: false});})
    </script>
  </head>

  <body>
    <%= render 'title.slim'%>
    <%= yield %>
  </body>
</html>
